---
let newPath = Astro.props.path?.slice(0, 3);
---

<a
  href={newPath === "/es" ? "/" : "/es/"}
  class="font-black text-foreground hover:text-primary-300"
>
  {newPath === "/es" ? "US" : "ES"}
</a>
