---
import MobileLink from "../link/mobile-link.astro";
import HomeIcon from "../icons/home-icon.astro";
import AboutIcon from "../icons/about-icon.astro";
import ServicesIcon from "../icons/services-icon.astro";
import PortfolioIcon from "../icons/proyects-icon.astro";
import ContactIcon from "../icons/contact-icon.astro";
---

<section
  class="visible md:invisible fixed bottom-0 h-16 w-screen flex items-center justify-around shadow-md shadow-foreground mobile-menu"
>
<MobileLink link="/about" text="About icon link">
  <AboutIcon />
</MobileLink>
<MobileLink link="/services" text="Services icon link">
  <ServicesIcon />
</MobileLink>
<MobileLink link="/" text="Home icon link">
  <HomeIcon />
</MobileLink>
  <MobileLink link="/portfolio" text="Portfolio icon link">
    <PortfolioIcon />
  </MobileLink>
  <MobileLink link="/contact" text="Contact icon link">
    <ContactIcon />
  </MobileLink>
</section>
<style>
.mobile-menu{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  
}
</style>
