---
interface Props {
  link: string;
  text: string;
  target: "_self" | "_blank";
}
const { text, link, target } = Astro.props;
---

<a
  href={link}
  target={target}
  class="flex-row justify-center text-white cursor-pointer hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-70 hover:opacity-100"
>
  <slot />
  {text}
</a>

