---
import Layout from "../../layouts/Layout.astro";
import ServiceComponent from "../../components/service-component/service-component.astro"

---

<Layout page="Services| Back-End Development">
  <main class="w-full h-full">
    <ServiceComponent 
    style="col-span-1  overflow-hidden relative" 
    service="Front-End"
    image="https://images.unsplash.com/photo-1551527559-a0d94ca99202?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
    imagetext="Backend as service image with code embebed" 
    link="/services/frontend-dev" />

    <section class="flex items-start w-full p-4">
      <p> Your ideas my development skills the pefect patway to an awesome product. You my client are the principal </p>
    </section>
  </main>
</Layout>