---
import Layout from "../../layouts/Layout.astro";
import ServiceComponent from "../../components/services-header/services-header.astro"
---

<Layout page="Full-Stack Development">
  <main class="w-full h-full overflow-hidden">
    <ServiceComponent 
    style="overflow-hidden relative " 
    service="Full-Stack"
    image="https://images.unsplash.com/photo-1629904853716-f0bc54eea481?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
    imagetext="Full stack development as service image with a man with a laptop developing software"
    link="/services/fullstack-dev" />

    <section class="flex items-start w-full p-4">
      <p> Your ideas my development skills the pefect patway to an awesome product. You my client are the principal </p>
    </section>
  </main>
</Layout>