---
import Link from "../link/link.astro";
import HomeIcon from "../icons/home-icon.astro";
import AboutIcon from "../icons/about-icon.astro";
import ServicesIcon from "../icons/services-icon.astro";
import PortfolioIcon from "../icons/proyects-icon.astro";
import ContactIcon from "../icons/contact-icon.astro";
---

<!-- Sidebar Menu -->
<div class="flex flex-col gap-2">
  <Link link="/es/" text="Inicio">
    <HomeIcon />
  </Link>
  <Link link="/es/about" text="Acerca de">
    <AboutIcon />
  </Link>
  <Link link="/es/services" text="Servicios">
    <ServicesIcon />
  </Link>
  <Link link="/es/portfolio" text="Portfolio">
    <PortfolioIcon />
  </Link>
  <Link link="/es/contact" text="Contacto">
    <ContactIcon />
  </Link>
</div>
