---
import Link from "../link/link.astro";
import HomeIcon from "../icons/home-icon.astro";
import AboutIcon from "../icons/about-icon.astro";
import ServicesIcon from "../icons/services-icon.astro";
import PortfolioIcon from "../icons/proyects-icon.astro";
import ContactIcon from "../icons/contact-icon.astro";
---

<!-- Sidebar Menu -->
<div class="flex flex-col gap-2">
  <Link link="/" text="Home">
    <HomeIcon />
  </Link>
  <Link link="/about" text="About">
    <AboutIcon />
  </Link>
  <Link link="/services" text="Services">
    <ServicesIcon />
  </Link>
  <Link link="/portfolio" text="Portfolio">
    <PortfolioIcon />
  </Link>
  <Link link="/contact" text="Contact">
    <ContactIcon />
  </Link>
</div>
