---
interface Props {
  type: "text" | "email";
  id: string;
  name: string;
  placeholder: string;
}
const {type, id, name, placeholder} = Astro.props
---

<div class="mb-4">
  <input type={type} id={id} name={name} placeholder={placeholder} class="mt-1 p-2 w-full border border-stone-700 rounded-md bg-gray-800 text-white">
</div>