---
import AboutMe from "../about-component/about-me.astro";
import AboutSections from "../about-component/about-sections.astro";
import AboutSectionsLastTwo from "../about-component/about-sections-lastTwo.astro";
import Card from "../about-component/about-card.astro"
import Skill from "../card-skill/skill.astro"
import CertificateButton from "../button/certificate-button.astro";
import CSS from "../icons/logo-css-icon.astro";
import JavaScriptIcon from "../icons/logo-js-icon.astro";
import PythonIcon from "../icons/logo-python-icon.astro";
import NodeJS from "../icons/logo-nodejs-icon.astro";
import RountedButton from "../button/rounted-button.astro";
---

<!-- Resumen about me -->
<section  class="grid items-center gap-8 lg:grid-cols-2 px-4 pt-16 lg:px-[5%] 2xl:px-[16%]">
  <AboutMe title="About Me" name="I’m Luis Santiago D.">
    <p>An independent Creative Director based in New York City and Tokyo, with more than 4 years of experience specializing in type-driven brand identities, editorial design, illustrations, and typefaces for clients in the fields of art, hospitality, lifestyle, fashion, and beauty.</p> <br>
    <p>I work closely with clients to define the best approach in partnership. And depending on the project's needs, I also collaborate with my network of talented creatives to offer a holistic experience.</p>    
    <RountedButton slot="button" link="#" target="_self" align="" text="Download CV"/>
  </AboutMe>
</section>

<div class="xl:max-w-7xl mx-auto px-4 pb-32">

  <!-- Educación -->
  <AboutSections title="Education" >
      <p>University of Informatics and Technology USI</p>
      <p>Python postgraduate course</p>
      <p>Project management technician course</p>
  </AboutSections>


  <!-- Empresas donde he trabajado -->
  <AboutSections title="Over the past 4 years, I’ve worked with an array of international studios and clients" tag="p" subtitle="Including:">
    <p>Anteism Books</p>
    <p>Bower Studios</p>
    <p>Deux Cranes</p>
    <p>Dims</p>
    <p>Google</p>
    <p>Gossamer</p>
  </AboutSections>


  <!-- Skill -->
  <AboutSections title="Skills" gap="gap-8 lg:grid-cols-2 max-w-md lg:max-w-4xl m-auto">

    <Card title="Front-end Development">
      <Skill skill="HTML" experience="Experienced"/>
      <Skill skill="CSS" experience="Experienced"/>
      <Skill skill="JavaScript" experience="Experienced"/>
      <Skill skill="Bootstrap" experience="Experienced"/>
      <Skill skill="Tailwind" experience="Experienced"/>
      <Skill skill="React" experience="Experienced"/>
      <Skill skill="Astro" experience="Experienced"/>
    </Card>

    <Card title="Back-end Development">
      <Skill skill="NodeJS" experience="Intermediate"/>
      <Skill skill="PHP" experience="Experienced"/>
      <Skill skill="Laravel" experience="Experienced"/>
      <Skill skill="MySQL" experience="Experienced"/>
      <Skill skill="MongoDB" experience="Experienced"/>
      <Skill skill="React" experience="Experienced"/>
      <Skill skill="Python" experience="Intermediate"/>
    </Card>

  </AboutSections>

  
  <!-- Certificados -->
  <AboutSectionsLastTwo title="Certificates" style="grid gap-2 sm:grid-cols-2 items-center xl:grid-cols-4">
    <CertificateButton link="#" target="_blank" text="CSS">
      <CSS/>
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="JavaScript">
      <JavaScriptIcon/>        
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="NodeJS">
      <NodeJS/>        
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="Pythonn">
      <PythonIcon/>
    </CertificateButton>
  </AboutSectionsLastTwo>

    <!-- Llamada a la acción -->
    <AboutSectionsLastTwo title="Let's work together" style="text-center font-semibold">      
      <p>For enquiries or questions please don’t hesitate to contact me.</p>
      <p>Let's talk about your needs and project requirements.</p>
      <RountedButton slot="button" link="#" target="_self" align="m-auto" text="Send me Email"/>
    </AboutSectionsLastTwo>
  
</div>