---
import AboutMe from "../about-component/about-me.astro";
import AboutSections from "../about-component/about-sections.astro";
import AboutSectionsLastTwo from "../about-component/about-sections-lastTwo.astro";
import Card from "../about-component/about-card.astro"
import Skill from "../card-skill/skill.astro"
import CertificateButton from "../button/certificate-button.astro";
import CSS from "../icons/logo-css-icon.astro";
import JavaScriptIcon from "../icons/logo-js-icon.astro";
import PythonIcon from "../icons/logo-python-icon.astro";
import NodeJS from "../icons/logo-nodejs-icon.astro";
import RountedButton from "../button/rounted-button.astro";
---

<!-- Resumen about me -->
<section  class="grid items-center gap-4 lg:grid-cols-2 px-4 pt-16 lg:px-[5%] 2xl:px-[16%]">
  <AboutMe title="About Me" name="I’m Luis Santiago D.">
    <p>A Freelance Full Stack Developer based in Kentucky ,EEUU, with more of 4 years of experience specializing in zero to hero web development, ecommerce web aplications, landing pages, custom web solutions for your businnes using the best tech aproach for your needs.</p> <br>
    <p>I not only work closely with clients, i build succeed long term contractor relations.</p>    
    <RountedButton slot="button" link="#" target="_self" align="" text="Download CV"/>
  </AboutMe>
</section>

<div class="xl:max-w-7xl mx-auto px-4 !pb-44">

  <!-- Educación -->
  <AboutSections title="Education"gap="!flex !flex-col !items-center !justify-center gap-2">
      <p>Informatic Science Universitary Degree</p>
      <p>Python postgraduate course</p>
      <p>Project management course</p>
  </AboutSections>

  <!-- Empresas donde he trabajado -->
  <AboutSections title="Over the past 4 years, I’ve worked with some international studios and enterprises" tag="p" subtitle="Including:">
    <p>Anteism Books</p>
    <p>Bower Studios</p>
    <p>Deux Cranes</p>
    <p>Dims</p>
    <p>Google</p>
    <p>Gossamer</p>
  </AboutSections>


  <!-- Skill -->
  <AboutSections title="Skills" gap="gap-8 lg:grid-cols-2 max-w-md lg:max-w-4xl m-auto">

    <Card title="Front-end Development">
      <Skill skill="JavaScript" experience="Experienced"/>
      <Skill skill="React" experience="Experienced"/>
      <Skill skill="CSS" experience="Experienced"/>
      <Skill skill="HTML" experience="Experienced"/>
      <Skill skill="SASS" experience="Experienced"/>
      <Skill skill="Tailwind" experience="Experienced"/>
      <Skill skill="Astro" experience="Experienced"/>
    </Card>

    <Card title="Back-end Development">
      <Skill skill="NodeJS" experience="Experienced"/>
      <Skill skill="Laravel" experience="Experienced"/>
      <Skill skill="PHP" experience="Experienced"/>
      <Skill skill="MySQL" experience="Experienced"/>
      <Skill skill="MongoDB" experience="Experienced"/>
      <Skill skill="Python" experience="Experienced"/>
      <Skill skill="Django" experience="Experienced"/>
    </Card>

  </AboutSections>

  
  <!-- Certificados -->
  <AboutSectionsLastTwo title="Certificates" style="grid gap-2 sm:grid-cols-2 items-center xl:grid-cols-4">
    <CertificateButton link="#" target="_blank" text="CSS">
      <CSS/>
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="JavaScript">
      <JavaScriptIcon/>        
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="NodeJS">
      <NodeJS/>        
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="Pythonn">
      <PythonIcon/>
    </CertificateButton>
  </AboutSectionsLastTwo>

    <!-- Llamada a la acción -->
    <AboutSectionsLastTwo title="Let's work together" style="text-center font-semibold mb-24">      
      <p>For enquiries or questions please don’t hesitate to contact me.</p>
      <p>Let's talk about your needs and project requirements.</p>
      <RountedButton slot="button" link="#" target="_self" align="m-auto" text="Send me Email"/>
    </AboutSectionsLastTwo>
  
</div>