---
import AboutMe from "../about-component/about-me.astro";
import AboutSections from "../about-component/about-sections.astro";
import AboutSectionsLastTwo from "../about-component/about-sections-lastTwo.astro";
import Card from "../about-component/about-card.astro"
import Skill from "../card-skill/skill.astro"
import CertificateButton from "../button/certificate-button.astro";
import CSS from "../icons/logo-css-icon.astro";
import JavaScriptIcon from "../icons/logo-js-icon.astro";
import PythonIcon from "../icons/logo-python-icon.astro";
import NodeJS from "../icons/logo-nodejs-icon.astro";
import RountedButton from "../button/rounted-button.astro";
---

<!-- Resumen Acerca de -->
<section  class="grid items-center gap-8 lg:grid-cols-2 px-4 pt-16 lg:px-[5%] 2xl:px-[16%]">
  <AboutMe title="Acerca de mi" name="Soy Luis Santiago D.">
    <p>Director creativo independiente con sede en Nueva York y Tokio. Con más de 4 años de experiencia, especializado en identidades de marca tipográficas, diseño editorial, ilustraciones y tipografías para clientes de los ámbitos del arte, la hostelería, el estilo de vida, la moda y la belleza.</p> <br>
    <p>Trabajo estrechamente con los clientes para definir el mejor enfoque en colaboración. Y dependiendo de las necesidades del proyecto, también colaboro con mi red de creativos de talento para ofrecer una experiencia holística.</p>    
    <RountedButton slot="button" link="#" target="_self" align="" text="Descargar CV"/>
  </AboutMe>
</section>

<div class="xl:max-w-7xl mx-auto px-4 pb-32">

  <!-- Educación -->
  <AboutSections title="Educación" >
      <p>✔️Universidad de informática y tecnología USI</p>
      <p>✔️Posgrado de Python</p>
      <p>✔️Curso de técnico en gestión de proyectos</p>
  </AboutSections>


  <!-- Empresas donde he trabajado -->
  <AboutSections title="En los últimos 4 años, he trabajado con una gran variedad de estudios y clientes internacionales" tag="p" subtitle="Entre los que se incluyen:">
    <p>Anteism Books</p>
    <p>Bower Studios</p>
    <p>Deux Cranes</p>
    <p>Dims</p>
    <p>Google</p>
    <p>Gossamer</p>
  </AboutSections>


  <!-- Habilidades -->
  <AboutSections title="Habilidades" gap="gap-8 lg:grid-cols-2 max-w-md lg:max-w-4xl m-auto">

    <Card title="Front-end Development">
      <Skill skill="HTML" experience="Experiencia"/>
      <Skill skill="CSS" experience="Experiencia"/>
      <Skill skill="JavaScript" experience="Experiencia"/>
      <Skill skill="Bootstrap" experience="Experiencia"/>
      <Skill skill="Tailwind" experience="Experiencia"/>
      <Skill skill="React" experience="Experiencia"/>
      <Skill skill="Astro" experience="Experiencia"/>
    </Card>

    <Card title="Back-end Development">
      <Skill skill="NodeJS" experience="Intermedio"/>
      <Skill skill="PHP" experience="Experiencia"/>
      <Skill skill="Laravel" experience="Experiencia"/>
      <Skill skill="MySQL" experience="Experiencia"/>
      <Skill skill="MongoDB" experience="Experiencia"/>
      <Skill skill="React" experience="Experiencia"/>
      <Skill skill="Python" experience="Intermedio"/>
    </Card>

  </AboutSections>

  
  <!-- Certificados -->
  <AboutSectionsLastTwo title="Certificados" style="grid gap-2 sm:grid-cols-2 items-center xl:grid-cols-4">
    <CertificateButton link="#" target="_blank" text="CSS">
      <CSS/>
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="JavaScript">
      <JavaScriptIcon/>        
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="NodeJS">
      <NodeJS/>        
    </CertificateButton>
    <CertificateButton link="#" target="_blank" text="Pythonn">
      <PythonIcon/>
    </CertificateButton>
  </AboutSectionsLastTwo>

    <!-- Llamada a la acción -->
    <AboutSectionsLastTwo title="Trabajemos juntos" style="text-center font-semibold">      
      <p>Para cualquier consulta o pregunta, no dude en ponerse en contacto conmigo.</p>
      <p>Hablemos de sus necesidades y de los requisitos de su proyecto.</p>
      <RountedButton slot="button" link="#" target="_self" align="m-auto" text="Envíame un correo"/>
    </AboutSectionsLastTwo>
  
</div>