---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
---

<Layout page="Home">
	<main>
    <Hero
      greeting="Hello"
      name="Luis Santiago"
      tagline="Full-Stack Developer"
    >            
    </Hero>
	</main>
</Layout>
