---
import Layout from "../layouts/Layout.astro";
import Masonry from "../components/services-masonry/services-masonry.astro";
---

<Layout page="Services">
  <main class="w-full h-full">
    <Masonry />
  </main>
</Layout>