---
import CertificateButton from "../button/certificate-button.astro";
import CSS from "../icons/logo-css-icon.astro";
import JavaScriptIcon from "../icons/logo-js-icon.astro";
import PythonIcon from "../icons/logo-python-icon.astro";
import NodeJS from "../icons/logo-nodejs-icon.astro";
---

<!-- Resumen about me -->
<section  class="grid items-center gap-8 lg:grid-cols-2 px-4 pt-16 lg:px-[5%] 2xl:px-[16%]">
  <div class="flex flex-col items-center">
    <img class="h-auto w-full max-w-md" src="../../../public/profile-about.jpeg" alt="">
  </div>
  <div class="flex flex-col">
    <h2 class="py-2 text-4xl font-semibold tracking-tight text-white">About Me</h2>
    <p class="text-2xl text-warning-400 py-2">Soy Luis Santiago D.</p>
    <div class="text-slate-300">
      <p>Director creativo independiente con sede en Nueva York y Tokio. Con más de 4 años de experiencia, me especializo en  identidades de marca tipográficas, diseño editorial, ilustraciones y tipografías para clientes de los ámbitos del arte, la hostelería, el estilo de vida, la moda y la belleza.</p> <br>
      <p>Trabajo estrechamente con los clientes para definir el mejor enfoque en colaboración. Y dependiendo de las necesidades del proyecto, también colaboro con mi red de creativos de talento para ofrecer una experiencia holística.</p>
    </div>
    <a href="#" class="rounded-xl py-3 bg-violet-700 font-semibold text-lg text-center w-48 mt-12 hover:bg-primary-600 transition hover:scale-110 ease-in-out duration-150">Download CV</a>  
  </div>
</section>

<div class="xl:max-w-7xl mx-auto px-4 pb-32">

  <!-- Educación -->
  <section class="mt-48">
    <h3 class="text-center text-3xl font-semibold tracking-tight text-white">Education</h3>
    <div class="grid gap-4 text-center font-semibold mt-20">
      <p>✔️Universidad de informática y tecnología USI</p>
      <p>✔️Posgrado de Python</p>
      <p>✔️Curso de técnico en gestión de proyectos</p>
    </div>
  </section>

  <!-- Empresas donde he trabajado -->
  <section class="mt-48">
    <h3 class="text-center text-3xl font-semibold tracking-tight text-white">
      En los últimos 4 años, he trabajado con una gran variedad de estudios y clientes internacionales
    </h3>
    <p class="text-2xl text-center text-warning-400 py-2">Entre los que se incluyen:</p>
    <div class="grid gap-4 text-center font-semibold mt-20">
      <p>Anteism Books</p>
      <p>Bower Studios</p>
      <p>Deux Cranes</p>
      <p>Dims</p>
      <p>Google</p>
      <p>Gossamer</p>
    </div>
  </section>

  <!-- Skill -->
  <section class="mt-48">
    <h3 class="text-center text-3xl font-semibold tracking-tight text-white">Skills</h3>
    <div class="grid gap-8 lg:grid-cols-2 mt-20 max-w-md lg:max-w-4xl m-auto">

      <div class="rounded-lg shadow-md bg-gray-900 hover:scale-105 hover:border-gray-500 transition ease-in-out duration-500 flex flex-col">
        <header class="p-4 flex-grow">
          <h3 class="text-center text-xl font-bold tracking-tight text-white my-2">Front-end Development</h3>
          <div class="grid gap-4 grid-cols-2 max-w-xs my-10 m-auto">
            <div>
              <h4>HTML</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>CSS</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>JavaScript</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>Bootstrap</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>Tailwind</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>React</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>Astro</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
          </div>
        </header>
      </div>

      <div class="rounded-lg shadow-md bg-gray-900 hover:scale-105 hover:border-gray-500 transition ease-in-out duration-500  flex flex-col">
        <header class="p-4 flex-grow">
          <h3 class="text-center text-xl font-bold tracking-tight text-white my-2">Back-end Development</h3>
          <div class="grid gap-4 grid-cols-2 max-w-xs my-10 m-auto">
            <div>
              <h4>NodeJS</h4>
              <p class="font-light text-gray-400">Intermediate</p>
            </div>
            <div>
              <h4>PHP</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>Laravel</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>MySQL</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>MOngoDB</h4>
              <p class="font-light text-gray-400">Experienced</p>
            </div>
            <div>
              <h4>Python</h4>
              <p class="font-light text-gray-400">Intermediate</p>
            </div>
          </div>
        </header>
      </div>
   
    </div>
  </section>
  
  <!-- Certificados -->
  <section class="mt-48">
    <h3 class="text-center text-3xl font-semibold tracking-tight text-white">Certificates</h3>
    <!-- <div class="flex flex-col items-center justify-between w-full text-center md:flex-row mt-20"> -->
    <div class="grid gap-2 sm:grid-cols-2 items-center xl:grid-cols-4 mt-20">
      <CertificateButton link="#" target="_blank" text="CSS">
        <CSS/>
      </CertificateButton>
      <CertificateButton link="#" target="_blank" text="JavaScript">
        <JavaScriptIcon/>        
      </CertificateButton>
      <CertificateButton link="#" target="_blank" text="NodeJS">
        <NodeJS/>        
      </CertificateButton>
      <CertificateButton link="#" target="_blank" text="Pythonn">
        <PythonIcon/>
      </CertificateButton>
    </div>
  </section>

    <!-- Llamada a la acción -->
    <section class="mt-48">
      <h3 class="text-center text-3xl font-semibold tracking-tight text-white">¿Trabajemos juntos?</h3>
      <div class="text-center font-semibold mt-20 mb-14">
        <p>Para cualquier consulta o pregunta, no dude en ponerse en contacto conmigo.</p>
        <p>Hablemos de sus necesidades y de los requisitos de su proyecto.</p>
      </div>
      <a href="#" class="rounded-xl py-3 bg-violet-700 uppercase font-semibold mt-12 text-center block w-48 m-auto hover:bg-primary-600 transition hover:scale-110 ease-in-out duration-150">Send me Email</a>
    </section>
  
</div>




