---
import Skill from "../card-skill/skill.astro"
interface Props {
  title: string;
}
const {title} = Astro.props
---

<div class="rounded-lg shadow-md bg-gray-900 hover:scale-105 hover:border-gray-500 transition ease-in-out duration-500 flex flex-col">
  <header class="p-4 flex-grow">
    <h3 class="text-center text-xl font-bold tracking-tight text-white my-2">{title}</h3>
    <div class="grid gap-4 grid-cols-2 max-w-xs my-10 m-auto">
      <slot/>
    </div>
  </header>
</div>