---
import Layout from "../../layouts/ESLayout.astro";
import Hero from "../../components/hero/hero.astro";
---

<Layout page="Inicio">
	<main>
    <Hero
      greeting="Hola"
			secondLine="Soy "
      name="Luis Santiago"
      tagline="Full-Stack Developer",
    />            
    
	</main>
</Layout>
