---
import Layout from '../../layouts/ESLayout.astro';
import Masonry from "../../components/services-masonry/es-services-masonry.astro";
---

<Layout page="Servicios">
  <main>
    <Masonry/>
  </main>
</Layout>
